<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>FamilyTogether</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<header th:replace="fragments/header :: header">
    <!-- insert header -->
</header>
<div class="main">
    <section class="login-page">
        <h2>Załóż konto</h2>
        <form th:object="${userDto}" th:method="post" th:action="@{/register}" id="registerForm">
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" th:field="*{email}" />
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                <p th:if="${param.error}">Niepoprawne dane logowania!</p>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Hasło" th:field="*{password}" id="password" />
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
            <div class="form-group">
                <input type="password" name="password2" placeholder="Powtórz hasło" id="password2"/>
                <p id="password_check"></p>
            </div>
            <div class="form-group">
                <input type="firstname" name="firstName" placeholder="Imie" th:field="*{firstName}" id="firstName" />
                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>
            <div class="form-group">
                <input type="lastName" name="lastName" placeholder="Nazwisko" th:field="*{lastName}" id="lastName" />
                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>
            <div class="form-group">
                <input type="birthday" name="birthday" placeholder="Urodziny" th:field="*{birthday}" id="birthday" />
                <p th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
            </div>


            <div class="form-group form-group--buttons">
                <button class="btn,btn-link" type="button"><a th:href="@{/login}" class="btn-link">Zaloguj się</a></button>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
        <div class="info-container">
            <div id="error-message" class="alert alert-danger d-none">
            </div>
            <div id="success-message" class="alert alert-success d-none">
            </div>
        </div>
    </section>
</div>

<footer th:replace="fragments/footer :: footer">
    <!-- insert footer -->
</footer>
<script src="js/validate.js"></script>
</body>
</html>
