<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>FamilyTogether</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<header th:replace="fragments/header :: header">
    <!-- insert header -->
</header>
<div id="wishlist">
    <div>
        <button>Dodaj nowy</button>
    </div>
    <div>
        <button>Zapisz zmiany</button>
    </div>
    <textarea id="test" style="visibility: hidden" th:value="${wishlist}"></textarea>
    <div>
        <textarea readonly>PRZYKŁADOWY TEKST</textarea>
        <button>Usuń</button>
    </div>

</div>
<footer th:replace="fragments/footer :: footer">
    <!-- insert footer -->
</footer>
<script src="js/app.js"></script>
</body>
</html>
