<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>FamilyTogether</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<header th:replace="fragments/header :: header">
    <!-- insert header -->
</header>
<div id="wishlist">
    <div>
        <button id="new">Dodaj nowy</button>
    </div>
    <div>
        <button id="save">Zapisz zmiany</button>
    </div>
    <textarea id="jsonData" style="visibility: hidden" th:value="${jsonData}"></textarea>
    <div id="insert">
    </div>
</div>
<footer th:replace="fragments/footer :: footer">
    <!-- insert footer -->
</footer>
<script src="js/wishlist.js"></script>
</body>
</html>
